<!--<div class="container" ng-show="toggle">
  <div class="row" style="margin-top: 50px">
    <div [hidden]="!switchElement" class="col-md-4 col-md-offset-4">
      <h3>Login</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <form ng-submit="submit()">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="username"/>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="password"/>
            </div>
            <input class="btn btn-primary btn-block" type="submit" value="Login" />
          </form>
          <span>Not registered? <a (click)="switchElement=!switchElement" >Create an account</a></span>						
        </div>
      </div>
    </div>

    <div [hidden]="switchElement" class="col-md-6 col-md-offset-3">
      <h3>Create New Account</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <form ng-submit="submit()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="First Name"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Last Name"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="email"/>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="password"/>
            </div>
            <input class="btn btn-primary btn-block" type="submit" value="Create Account" />
          </form>
          <span>Already have an account? <a (click)="switchElement=!switchElement" >Login here</a></span>						
        </div>
      </div>
    </div>
  </div>
</div>-->

<!--<div class="container theme-showcase">
	<div class="jumbotron">
		<h1>To Do List</h1>
		<p>Keep track of all of things you need to do by creating lists and sharing items with friends.</p>
		<p>
			<a [routerLink]="['/list']" class="btn btn-lg btn-primary" role="button">View</a>
		</p>
	</div>
</div> -->

<div class="container theme-showcase">
	<div class="jumbotron">
		<h1>Social Tool</h1>
		<p>Use this tool to comment on social posts</p>
		<div>
			<div class="input-group input-group-lg">
				<span class="input-group-addon" id="sizing-addon1">U</span>
  				<input type="text" class="form-control" placeholder="username" [(ngModel)]="username">
			</div>
			<br>
			<div class="input-group input-group-lg">
				<span class="input-group-addon" id="sizing-addon2">P</span>
  				<input type="text" class="form-control" placeholder="password" [(ngModel)]="password">
			</div>
			<br>
			<!--<a href="/auth/google" class="btn btn-default">Login with Google</a>-->
			<a href="/auth/facebook" class="btn btn-default">Login with Facebook</a>
			<!--<button (click)="onClick()" class="btn btn-default" type="button">Login with Google</button>-->
		</div>
	</div>
</div>




<!--
<div class="container" ng-show"toggle">
  <div class="row" style="margin-top: 50px">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <form ng-submit="submit()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="First Name"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Last Name"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="email"/>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="password"/>
            </div>
            <input class="btn btn-primary btn-block" type="submit" value="Create Account" />
          </form>
          <span>Already have an account? <a ng-model="toggle">Login here</a></span>						
        </div>
      </div>
    </div>
  </div>
</div>-->