<div class="container">
  <h4>Your long URL is: </h4>
  <div class="input-group">
    <a href="{{outputLongUrl}}">{{outputLongUrl}}</a>
  </div>

  <h4>Your short URL is: </h4>
  <div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="outPutShortUrlToShow" name="outPutShortUrlToShow">
    <!--<span class="input-group-btn">
      <button (click)="onCopyClick()" class="btn btn-secondary" type="button">Copy</button>
    </span>-->
    <span class="input-group-btn">
      <button (click)="onClick()" class="btn btn-primary" type="button">Get Another!</button>
    </span>
  </div>

  <h4>Your emoji Link is: </h4>
  <div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="outPutEmojiToShow" name="outPutEmojiToShow">
    <!--<span class="input-group-btn">
      <button (click)="onCopyClick()" class="btn btn-secondary" type="button">Copy</button>
    </span>-->
    <span class="input-group-btn">
      <button (click)="onClick()" class="btn btn-primary" type="button">Get Another!</button>
    </span>
  </div>

  <!--<br>
  <br>

  <div class="panel panel-default">
    <div class="panel-heading">
      Total Clicks
    </div>
    <div class="panel-body">
      {{ totalClicks }}
    </div>
  </div>-->

</div>